.App {
  text-align: center;
}

.Welcome {
  /* Expand to fit remaining page */
  text-align: center;
  background-color: #903749;
  
}

.WelcomeLogo {
  max-width: 100%;
  height: auto;
  max-height: 500px; /* Set a maximum height for the logo if needed */
}